@font-face {
  font-family: JioFontLight;
  src: url(https://www.jiocinema.com/css/fonts/jiotype/JioTypeW04-Light.woff2);
}

@font-face {
  font-family: JioFontMedium;
  src: url(https://www.jiocinema.com/css/fonts/jiotype/JioTypeW04-Medium.woff2);
}

#root {
  background-color: black;
  font-family: JioFontMedium, sans-serif; 
}

.navbar-brand {
  padding-bottom: 0px !important;
}

 .website-name a {
  font-family: JioFontMedium, sans-serif; 
  font-size: 28px;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
  margin-left: 30px;
  margin-top: 20px;
 }

 .website-name a:hover {
  font-family: JioFontMedium, sans-serif; 
  font-size: 28px;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
  margin-left: 30px;
  margin-top: 20px;
 }

 .hamburger-icon{
   font-size: 28px;
   color: #ffffff;
   font-weight: 500;
 }

.menu-user-icon{
  font-size: 25px;
  color: #ffffff;
  font-weight: 500;
  margin-left: 50px;
}

.menu-search-icon{
  font-size: 20px;
  color: #ffffff;
  font-weight: 500;
  margin-left: 10px;
}

 .menu-link{
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff !important;
  margin-left: 50px;
}
